# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# CI/CD
node_modules/
reports/

# IDE
.idea/
.vscode/
*.iml

# 本地工具链（体积巨大，不入库）
.toolchain/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# 杂项
*.log
.DS_Store
